<div class="row">
  <div class="col s8 offset-s2">
    <ul class="collection">
      <% flash.each do |key, value| %>
        <% if value.kind_of?(Array) %>
          <% value.each do |val| %>
            <li class="collection-item dismissable">
              <%= val %>
              <a href="#" class="secondary-content alert-<%= key %>">
                <i class="material-icons"><%= key == 'error' ? 'error' : 'check' %></i>
              </a>
            </li>
          <% end %>
        <% else %>
          <li class="collection-item dismissable">
            <%= value %>
            <a href="#" class="secondary-content alert-<%= key %>">
              <i class="material-icons"><%= key == 'error' ? 'error' : 'check' %></i>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
